<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.etsmtl.log792.pdavid.sketch"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />

    <application
        android:name="ca.etsmtl.log792.pdavid.sketch.ApplicationManager"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="ca.etsmtl.log792.pdavid.sketch.ui.activity.MenuItemListActivity"
            android:label="@string/title_menuitem_list">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.etsmtl.log792.pdavid.sketch.ui.activity.MenuItemDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MenuItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuItemListActivity" />
        </activity>
        <activity
            android:name=".ui.activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme"/>
    </application>

</manifest>
